{% extends "blog/auth.html" %}

{% block content %}

    <div class="hero" style="background-color: #6798FD;">
        <h1>Tunnect</h1>
        <div class="form-box">
          <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn">회원정보 업데이트 </button>
          </div>
          <form id="login" class="input-group" method="post">
              {% csrf_token %}
{#                {{ user_form.as_p }}#}
                {{ profile_form.as_p }}
{#              <input type="text" class="input-field" id="{{ form.password.id_for_label }}" name="{{ form.interest.html_name }}" placeholder="비밀번호" required>#}
{#              <input type="text" class="input-field" id="{{ form.interest.id_for_label }}" name="{{ form.interest.html_name }}" placeholder="관심분야를 '#분야'로 적어주세요." required>#}
{#              <input type="text" class="input-field" id="{{ form.birth_date.id_for_label }}" name="{{ form.birth_date.html_name }}" placeholder="생년월일: ex)2000-00-00" required>#}
              <button type="submit" class="submit-btn">업데이트</button>
          </form>
        </div>
    </div>
{% endblock %}