<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Pacifico&display=swap');
</style>
{% load static %}
    <head>
        <title>Tunnect</title>
        <link href=<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="page-header", style="background-color: #6798FD">
        <nav>
            <a href="{% url 'post_list' %}">질문게시판</a>
            <a href="{% url 'post_list2' %}">강의요청</a>
            <a href="{% url 'mypage' %}">마이페이지</a>
            <a href="{% url 'recommend' %}">추천페이지</a>
        </nav>
          {% if user.is_authenticated %}
              {% if request.path == '/' %}
                  <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
              {% elif request.path == '/post2' %}
                  <a href="{% url 'post_new2' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
              {% endif %}
              <p class="top-menu">안녕하세요, {{ user.username }}님 <x-small>(<a href="{% url 'logout' %}">로그아웃</a>)</x-small></p>
          {% else %}
              <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
          {% endif %}
            <h1 style="font-family: Pacifico"><a href="/">Tunnect</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
