<html>
<head>
    <title>Tunnect Login And Registration Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
</head>
<body>
  <div class="hero">
    <h1>Tunnect</h1>
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn" onclick="login()">로그인</button>
        <button type="button" class="toggle-btn" onclick="register()">회원가입</button>
      </div>
      <form id="login" class="input-group">
        <input type="text" class="input-field" placeholder="아이디" required>
        <input type="text" class="input-field" placeholder="비밀번호" required>
        <button type="submit" class="submit-btn">로그인</button>
      </form>
      <form id="register" class="input-group">
        <input type="text" class="input-field" placeholder="아이디" required>
        <!-- <input type="email" class="input-field" placeholder="Email Addressss" required> -->
        <input type="text" class="input-field" placeholder="비밀번호" required>
        <input type="date" class="input-field" placeholder="생년월일" required>
        <input type="text" class="input-field" placeholder="#튜티관심주제" required>
        <input type="text" class="input-field" placeholder="#튜터관심주제" required>
        <button type="submit" class="submit-btn">회원가입 완료</button>
      </form>
    </div>
  </div>
  <script>
  var x = document.getElementById("login");
  var y = document.getElementById("register");
  var z = document.getElementById("btn");

  function register(){
    // 회원가입 정보입력시 로그인 정보 입력 칸이 왼쪽으로 간다//
    x.style.left = "-400px";
    y.style.left = "50px";
    z.style.left = "110px";
  }
  function login(){
    x.style.left = "50px";
    y.style.left = "450px";
    z.style.left = "0px";
  }
  </script>
</body>
</html>
